.raleway { font-family: 'Raleway', sans-serif; }

.text-light {color: $light}
.fw-300 {font-weight:300 !important}
.fw-400 {font-weight:400 !important}   
.fw-500 {font-weight:500 !important}
.fw-600 {font-weight:600 !important}
.fw-700 {font-weight:700 !important}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
}

